/* 
file: style.css
author: Yug Patel
last modified: 29 July 2024
*/

/* Color Pallete from Coolers
E63946 (red)
F1FAEE (white)
A8DADC (sky blue)
457B9D (light blue)
1D3557 (medium blue)
1D3557 (dark navy)
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Manrope', sans-serif;
}

:root{
    --bg-color: #A8DADC;
    --second-bg-color: #1D3557;
    --text-color: #1D3557;
    --main-color: #E63946;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color)
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0, 0.41);
    backdrop-filter: blur(40px);
    border-bottom: 1px solid rgba(166, 166, 166, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.nabar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(text-color);
    display: none;
}